<section class="newsletter-section" style="background-image: url(assets/image/Newsletter.png);">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="newsletter-form align-middle">
          <form class="title-form text-center" [formGroup]="form" (ngSubmit)="onSubmit()">
            <h3>Newsletter</h3>
            <p>Sign up for exclusive offers, masterclasses, launches and the latest news</p>
            <div class="d-flex">
              <div class="input-group">
                <input class="form-control mr-2 newsletter-input" formControlName="email" placeholder="Enter you email" aria-label="Search">
                <button class="btn btn-primary border-0" type="submit">Subscribe</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>