<section class="shipping">
  <div class="row row-left-right">

    <div class="col-md-6 col-sm-12 col-md-offset-2">
      <div class="padding-equal">

        <div class="confirm-tick">
          <div class="tick-right">
            <img src="assets/image/shipping/right.png" alt="confirm">
          </div>
          <div class="detail-confirm">
            <p class="light-shade">Order #{{orders?.order_number}} </p>
            <p class="dark-shade">Thank you, {{contextService.user()?.name}}!</p>
          </div>
        </div>

        <div class="confirmation">
          <div class="card-confirm">
            <!-- <img src="assets/image/shipping/map-phone.png" alt="map"> -->
            <div *ngIf="mapUrl">
              <iframe
                [src]="mapUrl | safeUrl"
                width="100%"
                height="450"
                style="border:0;"
                allowfullscreen
                loading="lazy">
              </iframe>
            </div>
            <div class="alert-success alerting">
              <div class="image-green">
                <img src="assets/image/shipping/green-tick.png" alt="green-tick">
              </div>
              <div class="para-alert">
                <p class="first-alert">Your Order Is Confirmed</p>
                <!-- <p class="second-alert">Your Order will be delivered on Tuesday, 27 August 2024 1:00 pm </p> -->
              </div>
            </div>

          </div>
        </div>

        <div class="confirmation">
          <div class="card-confirm">
            <div class="box-confirmed">
              <div class="detailed-confirm">
                <!-- <div class="first-confirm">
                  <p class="confirmed"><strong>Contact Information:</strong><br><span>Name: <strong>{{orders?.delivery_address?.name}} </strong><br>
                    Mobile: <strong>{{orders?.delivery_address?.mobile}}</strong></span></p>
                </div> -->
                <div class="first-confirm second-confirm">
                  <p class="confirmed"><strong>Payment Method:</strong><br><span>{{orders?.payment_method === 'stripe' ?
                      'Online' : 'COD'}}</span></p>
                </div>
              </div>

              <div class="detailed-confirm" *ngIf="orders?.delivery_address">
                <div class="first-confirm">
                  <p class="confirmed">
                    <strong>Address:</strong><br>
                    {{ orders?.delivery_address?.address?.address1 }},
                    {{ orders?.delivery_address?.address?.city }},
                    {{ orders?.delivery_address?.address?.province }},
                    {{ orders?.delivery_address?.address?.postalCode }}
                  </p>
                </div>
              </div>
              <div class="first-confirm second-confirm">
                <p class="confirmed"><strong>Amount:</strong><br><span>{{orders?.total_amount | currency:'CAD'}}</span>
                </p>
              </div>

              <div class="first-confirm second-confirm" *ngIf="orders?.store_detail">
                <p class="confirmed"><strong>Store:</strong><br>
                </p>
                <div class="store-addrss">
                  <div class="sr-one">
                    <div class="store-addrss">
                      <div class="sr-one">
                        <span><b>Opening Hours:</b>  {{orders?.store_detail?.opening_time}}</span>
                        <span><b>Closing Hours:</b>  {{orders?.store_detail?.closing_time}}</span>
                        <span><b>Call Us:</b> {{orders?.store_detail?.call_us}} </span>
                        <span><b>Email Us:</b> {{orders?.store_detail?.email}}</span>
                        <span><b>Address:</b>  {{orders?.store_detail?.head_office_address}} </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="detailed-confirm mt-2">
                <div class="first-confirm">
                  <p class="confirmed"><strong>Shipping Method:</strong><br><span>{{orders?.delivery_type === 'local' ?
                      'Home Delivery' : 'Store Pickup'}}</span></p>
                </div>
              </div>
            </div>

          </div>
        </div>



        <div class="text-check inputting-check success-pot">
          <div class="button-flex button-return">
            <button type="submit" class="btn btn-primary"> Need Help?<span class="contactor"><a
                  routerLink="/contact">Contact Us</a></span></button>
          </div>
          <div class="button-flex">
            <button type="submit" class="btn btn-primary" routerLink="/home">Continue Shopping</button>
          </div>
        </div>

        <div class="foot-shipping">
          <hr>
          <p>All rights reserved LIQUOR BARON</p>
        </div>

      </div>
    </div>

    <div class="col-md-6 col-sm-12 mt-md-5">
      <div class="padding-equal-right position-sticky top-0">
        <div class="right-starting">
          <div class="listing-right mb-1" *ngFor="let item of orders?.items">
            <div class="img-bottle">
              <p class="one">{{item?.quantity}}</p>
            </div>
            <p>{{item?.name}}</p>
            <p>{{item?.price * item?.quantity | currency}}</p>
          </div>
        </div>


        <div class="apply-total">

          <div class="p-total" *ngIf="orders?.total_amount">
            <p>Tax :</p>
            <p>${{orders?.total_tax}}</p>
          </div>

          <div class="p-total d-total" *ngIf="orders?.shipping_charge">
            <p>Shipping :</p>
            <p>${{orders?.shipping_charge}}</p>
          </div>
          <hr>

          <div class="p-total free-grand" *ngIf="orders?.total_amount">
            <p><span class="grandone">Total</span></p>
            <p>CAD<span class="cad">${{orders?.total_amount}}</span></p>
          </div>

          <div class="p-total free-grand icluding">
            <!-- <p>Including $6.00 in taxes</p> -->
          </div>
        </div>
      </div>
    </div>

  </div>
</section>