<section id="faq" class="faq pt-50 pb-50">
    <div class="container">
      <div class="mb-5" style="text-align:center;">
        <h2>Frequently Asked Questions</h2>
      </div>

      <div class="text-center">
        <p class="fs-18">We are Liquor Baron, a local and premier liquor store that offers a diverse selection of fine wines, exquisite spirits, and captivating craft beers. With two locations in Cochrane and Airdrie, customers can find everything from local products to rare and limited-edition items.</p>
      </div>

      <div class="section-title-text" id="out-store">
        <h3 class="text-align">Our Store</h3>
      </div>
      <div class="faq-list">
        <ul>
          <li>
            <i class="fa fa-question-circle icon-help" aria-hidden="true"></i> <a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-1">Where are you located? <i class="fa fa-sm fa-angle-down icon-show" aria-hidden="true"></i><i class="fa fa-sm fa-angle-up icon-close"></i></a>
            <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
              <div>
                <p>Liquor Baron has two locations:</p>
              
                <p>
                  📍 <strong>Cochrane Location</strong><br>
                  📌 <strong>Address:</strong> 1109-116 Grande Blvd W, Cochrane, AB T4C 2G4<br>
                  📞 <strong>Phone:</strong> 587-493-9161<br>
                  🕒 <strong>Hours:</strong> Monday - Sunday: 10:00 AM – 10:00 PM
                </p>
              
                <p>
                  📍 <strong>Airdrie Location</strong><br>
                  📌 <strong>Address:</strong> 103-114 Sierra Springs Dr SE, Airdrie, AB T4B 3G6<br>
                  📞 <strong>Phone:</strong> 403-948-5557<br>
                  🕒 <strong>Hours:</strong><br>
                  • Sunday - Thursday: 10:00 AM – 10:00 PM<br>
                  • Friday & Saturday: 10:00 AM – 12:00 AM (Midnight)
                </p>
              </div>
              
            </div>
          </li>

          <!-- <li>
            <i class="fa fa-question-circle icon-help" aria-hidden="true"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-2" class="collapsed">What are your hours of operation? <i class="fa fa-sm fa-angle-down icon-show" aria-hidden="true"></i><i class="fa fa-sm fa-angle-up icon-close"></i></a>
            <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
              <p>
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
              </p>
            </div>
          </li> -->

          <li>
            <i class="fa fa-question-circle icon-help" aria-hidden="true"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-3" class="collapsed">What payment methods are accepted at Liquor Baron? <i class="fa fa-sm fa-angle-down icon-show" aria-hidden="true"></i><i class="fa fa-sm fa-angle-up icon-close"></i></a>
            <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
              <p>
                We accept all major credit and debit cards, digital wallets like Apple Pay and Google Pay, and online payment options such as PayPal.
              </p>
            </div>
          </li>
        </ul>
        <div class="mt-5 mb-5">
          <img src="assets/image/asset.png">
          <!-- <div class="text-center">
            <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
          </div> -->
        </div>
    </div>
    <div class="section-title-text" id="out-store">
      <h3>Our Products and Services</h3>
    </div>
    <div class="faq-list">
      <ul>
        <li>
          <i class="fa fa-question-circle icon-help" aria-hidden="true"></i> <a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-1">What is lorem? <i class="fa fa-sm fa-angle-down icon-show" aria-hidden="true"></i><i class="fa fa-sm fa-angle-up icon-close"></i></a>
          <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
            <p>
              Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            </p>
          </div>
        </li>

        <li>
          <i class="fa fa-question-circle icon-help" aria-hidden="true"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-2" class="collapsed">What is lorem? <i class="fa fa-sm fa-angle-down icon-show" aria-hidden="true"></i><i class="fa fa-sm fa-angle-up icon-close"></i></a>
          <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
            <p>
              Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            </p>
          </div>
        </li>

        <li>
          <i class="fa fa-question-circle icon-help" aria-hidden="true"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-3" class="collapsed">What is Lorem? <i class="fa fa-sm fa-angle-down icon-show" aria-hidden="true"></i><i class="fa fa-sm fa-angle-up icon-close"></i></a>
          <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
            <p>
              Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            </p>
          </div>
        </li>

        <li>
          <i class="fa fa-question-circle icon-help" aria-hidden="true"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-4" class="collapsed">What is lorem? <i class="fa fa-sm fa-angle-down icon-show" aria-hidden="true"></i><i class="fa fa-sm fa-angle-up icon-close"></i></a>
          <div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">
            <p>
              Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            </p>
          </div>
        </li>


      </ul>
      <div class="mt-5  mb-5">
        <img src="assets/image/asset.png">
        <div class="text-center">
          <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div>
      </div>
  </div>
  <div class="section-title-text" id="out-store">
    <h3>Shipping and  Delivery</h3>
  </div>
  <div class="faq-list">
    <ul>
      <li>
        <i class="fa fa-question-circle icon-help" aria-hidden="true"></i> <a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-1">What is lorem? <i class="fa fa-sm fa-angle-down icon-show" aria-hidden="true"></i><i class="fa fa-sm fa-angle-up icon-close"></i></a>
        <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
          <p>
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
          </p>
        </div>
      </li>

      <li>
        <i class="fa fa-question-circle icon-help" aria-hidden="true"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-2" class="collapsed">What is lorem? <i class="fa fa-sm fa-angle-down icon-show" aria-hidden="true"></i><i class="fa fa-sm fa-angle-up icon-close"></i></a>
        <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
          <p>
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
          </p>
        </div>
      </li>

      <li>
        <i class="fa fa-question-circle icon-help" aria-hidden="true"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-3" class="collapsed">What is Lorem? <i class="fa fa-sm fa-angle-down icon-show" aria-hidden="true"></i><i class="fa fa-sm fa-angle-up icon-close"></i></a>
        <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
          <p>
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
          </p>
        </div>
      </li>

      <li>
        <i class="fa fa-question-circle icon-help" aria-hidden="true"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-4" class="collapsed">What is lorem? <i class="fa fa-sm fa-angle-down icon-show" aria-hidden="true"></i><i class="fa fa-sm fa-angle-up icon-close"></i></a>
        <div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">
          <p>
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
          </p>
        </div>
      </li>


    </ul>
    <div class="mt-5 mb-5">
      <img src="assets/image/asset.png">
      <div class="text-center">
        <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
      </div>
    </div>
</div>
<div class="section-title-text" id="out-store">
  <h3>Refunds, Returns, and Exchanges</h3>
</div>
<div class="faq-list">
  <ul>
    <li>
      <i class="fa fa-question-circle icon-help" aria-hidden="true"></i> <a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-1">What is lorem? <i class="fa fa-sm fa-angle-down icon-show" aria-hidden="true"></i><i class="fa fa-sm fa-angle-up icon-close"></i></a>
      <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
        <p>
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
        </p>
      </div>
    </li>

    <li>
      <i class="fa fa-question-circle icon-help" aria-hidden="true"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-2" class="collapsed">What is lorem? <i class="fa fa-sm fa-angle-down icon-show" aria-hidden="true"></i><i class="fa fa-sm fa-angle-up icon-close"></i></a>
      <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
        <p>
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
        </p>
      </div>
    </li>

    <li>
      <i class="fa fa-question-circle icon-help" aria-hidden="true"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-3" class="collapsed">What is Lorem? <i class="fa fa-sm fa-angle-down icon-show" aria-hidden="true"></i><i class="fa fa-sm fa-angle-up icon-close"></i></a>
      <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
        <p>
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
        </p>
      </div>
    </li>

    <li>
      <i class="fa fa-question-circle icon-help" aria-hidden="true"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-4" class="collapsed">What is lorem? <i class="fa fa-sm fa-angle-down icon-show" aria-hidden="true"></i><i class="fa fa-sm fa-angle-up icon-close"></i></a>
      <div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">
        <p>
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
        </p>
      </div>
    </li>


  </ul>
  <div class="mt-5">
    <img src="assets/image/asset.png">
    <div class="text-center">
      <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
    </div>
  </div>
</div>
    </div>
  </section><!-- End Frequently Asked Questions Section -->
