<section class="shipping">
  <div class="row row-left-right">

    <div class="left-white" *ngIf="!showPayment">
      <div class="padding-equal">
        <div class="listing-adresses"
          *ngIf="!(contextService.user()?.is_guest=== true  || contextService.user()?.is_guest === '1')">
          <div class="contact-addresses">
            <p class="1st-contact">Name</p>
            <p class="2nd-contact">{{(contextService.user()?.is_guest=== true || contextService.user()?.is_guest ===
              '1') ? 'Guest' : contextService.user()?.name}}</p>
          </div>
          <hr>
          <div class="contact-addresses">
            <p class="1st-contact">Contact</p>
            <p class="2nd-contact">{{(contextService.user()?.is_guest=== true || contextService.user()?.is_guest ===
              '1') ? 'Guest' : contextService.user()?.email}}</p>
          </div>
        </div>

        <form [formGroup]="signUpForm"
          *ngIf="(contextService.user()?.is_guest === true || contextService.user()?.is_guest === '1')">
          <div class="container">
            <div class="row">

              <div class="col-md-6">
                <label for="firstName">First Name</label>
                <input id="firstName" type="text" class="form-control" formControlName="firstName" />
                <div *ngIf="signUpForm.get('firstName')?.touched && signUpForm.get('firstName')?.invalid">
                  <small class="text-danger">First name is required</small>
                </div>
              </div>


              <div class="col-md-6">
                <label for="lastName">Last Name</label>
                <input id="lastName" type="text" class="form-control" formControlName="lastName" />
                <div *ngIf="signUpForm.get('lastName')?.touched && signUpForm.get('lastName')?.invalid">
                  <small class="text-danger">Last name is required</small>
                </div>
              </div>
            </div>

            <div class="row mt-3">

              <div class="col-md-6">
                <label for="newEmail">Email</label>
                <input id="newEmail" type="email" class="form-control" formControlName="newEmail" />
                <div *ngIf="form.get('newEmail')?.touched && form.get('newEmail')?.invalid">
                  <div class="text-danger p-small" *ngIf="form.get('newEmail')?.errors?.['required']">Email is required.
                  </div>
                  <div class="text-danger p-small" *ngIf="form.get('newEmail')?.errors?.['email']">Enter a valid email.
                  </div>
                </div>
              </div>


              <div class="col-md-6">
                <label for="newPassword">Password</label>
                <input id="newPassword" type="password" class="form-control" formControlName="newPassword" />
                <div *ngIf="signUpForm.get('newPassword')?.touched && signUpForm.get('newPassword')?.invalid">
                  <small class="text-danger">Password is required</small>
                </div>
              </div>
            </div>
          </div>
        </form>

        <div class="contact-payment">
          <h4>Shipping Method</h4>
          <div class="three-section">

            <div class="one-box select-one" [class.active]="activeTab === 1" (click)="setActiveTab(1)">
              <div class="content">
                <i class="bi bi-shop-window fs-1"></i>
                <p>Store Pickup</p>
              </div>
              <hr>
              <button type="button">{{activeTab === 1 ? 'Selected' : 'Select'}}</button>
            </div>

            <div class="one-box select-one" [class.active]="activeTab === 2" (click)="setActiveTab(2)">
              <div class="content">
                <i class="bi bi-truck fs-1"></i>
                <p>Home Delivery</p>
              </div>
              <hr>
              <button type="button">{{activeTab === 2 ? 'Selected' : 'Select'}}</button>
            </div>

          </div>
        </div>

        <div class="pickup-locally" id="picked-locally" *ngIf="activeTab === 1">
          <form [formGroup]="storePickupForm" (ngSubmit)="onSubmitAddress()">

            <div class="pickup-location mb-4">
              <p class="pickup-heading mb-2">Select pickup location:</p>
              <div class="picking-location">
                <div class="inputting-pickup active d-flex align-items-center mb-2"
                  *ngFor="let item of stores?.data?.data">
                  <input type="radio" [id]="item?.id" formControlName="selectedStore"
                    (input)="setAddress($event, item?.state_id)" [value]="item?.id" class="me-2" />
                  <label [for]="item?.id" class="m-0 fw-bold">{{ item?.head_office_address }}</label>
                </div>
                <div
                  *ngIf="storePickupForm.get('selectedStore')?.invalid && storePickupForm.get('selectedStore')?.touched"
                  class="text-danger">
                  Please select a pickup location.
                </div>
              </div>
            </div>


            <div class="pickup-location mb-4" *ngIf="workingDays.length > 0">
              <p class="pickup-heading mb-2">Choose pickup date and time:</p>
              <div class="row row-selector">

                <div class="col-6">
                  <div class="form-floating mb-3">
                    <select formControlName="pickupDate" class="form-control border-2">
                      <option value="" selected disabled>Select date</option>
                      <option *ngFor="let date of workingDays" [value]="date.toISOString()">
                        {{ formatDate(date) }}
                      </option>
                    </select>

                  </div>
                  <div *ngIf="storePickupForm.get('pickupDate')?.invalid && storePickupForm.get('pickupDate')?.touched"
                    class="text-danger">
                    Please select a valid date.
                  </div>
                </div>


                <div class="col-6">
                  <div class="form-floating mb-3">
                    <select formControlName="pickupTime" class="form-control border-2">
                      <option value="" selected disabled>Select Time</option>
                      <option *ngFor="let time of timeSlots" [value]="time">
                        {{ time }}
                      </option>
                    </select>

                  </div>
                  <div *ngIf="storePickupForm.get('pickupTime')?.invalid && storePickupForm.get('pickupTime')?.touched"
                    class="text-danger">
                    Please select a valid time.
                  </div>
                </div>
              </div>
            </div>


            <div class="store-pickup text-center mb-4">
              <p class="store-light m-0">Store pickup</p>
              <p class="store-dark m-0">Free</p>
            </div>

          </form>
        </div>

        <div class="locally-deliver" id="deliver-local" *ngIf="activeTab === 2">
          <form [formGroup]="deliveryForm">

            <div class="row">
              <div class="title-with-forms  d-flex justify-content-between">
                <div class="title-forms w-100">
                  <h3>Address Book <span class="text-maroon"><a></a></span></h3>
                  <hr>
                </div>

              </div>
              <button class="btn btn-maroon" *ngIf="addresses.length > 0" (click)="showAddressFormFunc()">Add
                Address</button>

              <div class="list-group mt-4" *ngIf="addresses.length > 0">
                <label class="" *ngFor="let item of addresses; let i=index">
                  <div class="d-flex w-100">
                    <div class="billing-radio me-2">
                      <div class="form-check">
                        <input type="radio" (input)="setAddress($event, item?.state_id)" class="mt-3 me-2"
                          name="deliveryAddress" [id]="'deliveryAddress' + i" [value]="item?.id"
                          formControlName="deliveryAddress">
                      </div>
                    </div>
                    <div class="billing-content">
                      <div class="fw-bold fs-5">{{item?.full_name}}</div>
                      <p>{{item?.address}}, {{item?.locality}}, {{item?.city}}, {{item?.state?.NAME}},
                        {{item?.mobile_number}}
                      </p>
                    </div>
                  </div>
                </label>
                <div
                  *ngIf="deliveryForm.get('deliveryAddress')?.invalid && deliveryForm.get('deliveryAddress')?.touched"
                  class="text-danger">
                  Please select Address.
                </div>
                <label class="ms-3 text-maroon" *ngIf="addresses.length < 1">You have not added any address yet.</label>
              </div>

              <div class="col" *ngIf="!(addresses.length > 0) || showAddressForm">
                <div class="body-forms">
                  <form [formGroup]="form" (ngSubmit)="onSubmitAddress()" class="row g-3 general-info">
                    <div class="col-md-6 type-form">
                      <label class="form-label flex-">Full Name <span class="text-danger">*</span></label>
                      <input type="text" class="form-control" formControlName="fullName" placeholder="Full Name">
                      <div *ngIf="form.get('fullName')?.touched && form.get('fullName')?.invalid">
                        <div class="text-danger p-small" *ngIf="form.get('fullName')?.errors?.['required']">Full name is
                          required.</div>
                      </div>
                    </div>

                    <div class="col-md-6 type-form">
                      <label class="form-label flex-">Mobile Number <span class="text-danger">*</span></label>
                      <input type="text" class="form-control" formControlName="mobileNumber"
                        placeholder="Mobile Number">
                      <div *ngIf="form.get('mobileNumber')?.touched && form.get('mobileNumber')?.invalid">
                        <div class="text-danger p-small" *ngIf="form.get('mobileNumber')?.errors?.['required']">Mobile
                          number is
                          required.</div>
                      </div>
                    </div>


                    <div class="col-md-6 type-form">
                      <label class="form-label flex-">Province <span class="text-danger">*</span></label>
                      <select class="form-control" formControlName="state">
                        <option value="" selected disabled class="ms-2">Select Province</option>
                        <option class="ms-2" *ngFor="let state of CanadianProvincesAndTerritories" [value]="state.id">{{
                          state.NAME }}
                        </option>
                      </select>
                      <div *ngIf="form.get('state')?.touched && form.get('state')?.invalid">
                        <div class="text-danger p-small" *ngIf="form.get('state')?.errors?.['required']">Province is
                          required.
                        </div>
                      </div>
                    </div>


                    <app-google-places-autocomplete [address]="form.controls['address'].value"
                      (locationSelected)="handlePlaceSelection($event)"></app-google-places-autocomplete>
                    <div *ngIf="form.get('address')?.touched && form.get('address')?.invalid">
                      <div class="text-danger p-small" *ngIf="form.get('address')?.errors?.['required']">Address is
                        required.
                      </div>
                    </div>


                    <div class="col-md-6 type-form">
                      <label class="form-label flex-">City <span class="text-danger">*</span></label>
                      <input type="text" class="form-control" formControlName="city" placeholder="City/District/Town">
                      <div *ngIf="form.get('city')?.touched && form.get('city')?.invalid">
                        <div class="text-danger p-small" *ngIf="form.get('city')?.errors?.['required']">
                          City/District/Town is
                          required.</div>
                      </div>
                    </div>

                    <div class="col-md-6 type-form">
                      <label class="form-label flex-">Postal Code <span class="text-danger">*</span></label>
                      <input type="text" class="form-control" formControlName="pinCode" placeholder="Postal Code">
                      <div *ngIf="form.get('pinCode')?.touched && form.get('pinCode')?.invalid">
                        <div class="text-danger p-small" *ngIf="form.get('pinCode')?.errors?.['required']">Pin code is
                          required.
                        </div>
                      </div>
                    </div>


                    <div class="col-md-12 modal-footer">

                    </div>
                  </form>
                </div>
              </div>

            </div>
          </form>
        </div>

        <div class="payment contact-payment">
          <h4 class="mb-4">Payment Method</h4>
          <label class="payment-label">
            <input type="radio" name="paymentMethod" [(ngModel)]="selectedPaymentMethod" value="card" />
            <div class="ms-3 pay_card d-flex justify-content-between">
              <h6 class="fw-bold">Pay with card</h6>
              <p><img src="assets/images/credit_card/visa.svg">
                <img src="assets/images/credit_card/mastercard.svg">
                <img src="assets/images/credit_card/amex.svg">
                <img src="assets/images/credit_card/diners.svg">
                <img src="assets/images/credit_card/jcb.svg">
              </p>
            </div>

          </label>

    
          <div [hidden]="selectedPaymentMethod !== 'card'">
            <form>
              <div id="card-element" class="border p-3 rounded shadow-sm mb-3"></div>
            </form>
          </div>
          

          <!-- <div class="card_payment mb-4" *ngIf="selectedPaymentMethod === 'card'">
            <div [formGroup]="ccForm" class="card">
              <div class="row card-body">
                <div class="col-md-12 mb-3">
                  <label for="firstName">Card Holder Name <span class="text-danger">*</span></label>
                  <input type="text" (keypress)="handleKeyPressName($event)" (paste)="disablePaste($event)"
                    formControlName="holder_name" class="form-control" id="holder_name"
                    placeholder="Enter Card Holder Name">
                  <div class="me-1 ms-2 mt-1"
                    *ngIf="(ccForm.get('holder_name')?.touched && !ccForm.get('holder_name')?.valid) ">
                    <div class="text-danger p-small" *ngIf="ccForm.get('holder_name')?.errors?.['required']">Card
                      holder name is required.
                    </div>
                  </div>
                </div>

                <div class="col-md-12 mb-3 icon_box">
                  <label for="username">Card Number <span class="text-danger">*</span></label>
                  <input type="text" (paste)="disablePaste($event)" type="text" (input)="formatCardNumber($event)"
                    (keypress)="handleKeyPress($event)" (input)="cardLogo($event)" formControlName="card_number"
                    class="form-control" id="card_number"
                    placeholder="0000 0000 0000 0000">
                  <img *ngIf="cardLogoImg" [src]="cardLogoImg" class="bxs-show">
                  <div class="me-1 ms-2 mt-1"
                    *ngIf="(form.get('card_number')?.touched && !form.get('card_number')?.valid)">
                    <div class="text-danger p-small" *ngIf="form.get('card_number')?.errors?.['required']">Card
                      number is required.</div>
                    <div class="text-danger p-small" *ngIf="form.get('card_number')?.errors?.['pattern']">Only
                      visa or mastercard are allowed.</div>
                  </div>
                </div>

                <div class="col-md-4 mb-3">
                  <label for="exp_month">Exp Month <span class="text-danger">*</span></label>
                  <select class="form-control" formControlName="exp_month" id="exp_month">
                    <option disabled value="">Select month</option>
                    <option [value]="item?.key" *ngFor="let item of month">{{item?.value}}</option>
                  </select>
                  <div class="me-1 ms-2  mt-1"
                    *ngIf="(ccForm.get('exp_month')?.touched && !ccForm.get('exp_month')?.valid) ">
                    <div class="text-danger p-small" *ngIf="ccForm.get('exp_month').errors.required">Expiry month is
                      required.
                    </div>
                  </div>
                </div>

                <div class="col-md-4 mb-3">
                  <label for="exp_year">Exp Year <span class="text-danger">*</span></label>
                  <select class="form-control" formControlName="exp_year" id="exp_year" name="exp_year">
                    <option disabled value="">Select Year</option>
                    <option [value]="item" *ngFor="let item of years">{{item}}</option>
                  </select>
                  <div class="me-1 ms-2  mt-1"
                    *ngIf="(ccForm.get('exp_year')?.touched && !ccForm.get('exp_year')?.valid) ">
                    <div class="text-danger p-small" *ngIf="ccForm.get('exp_year').errors.required">Expiry year is
                      required.
                    </div>
                  </div>
                </div>

                <div class="col-md-4 mb-3">
                  <label for="useremail">CVV <span class="text-danger">*</span></label>
                  <input type="text" (paste)="disablePaste($event)" formControlName="cvv" id="cvv" class="form-control"
                    placeholder="Enter CVV" (keypress)="cvvInput($event)">
                  <div class="me-1 ms-2  mt-1" *ngIf="(ccForm.get('cvv')?.touched && !ccForm.get('cvv')?.valid) ">
                    <div class="text-danger p-small" *ngIf="ccForm.get('cvv.errors')?.required">CVV is required.</div>
                    <div class="text-danger p-small"
                      *ngIf="ccForm.get('cvv').value && ccForm.get('cvv').value.length !== 3">Enter valid
                      CVV.</div>
                  </div>
                </div>
              </div>
            </div>
          </div> -->

          <label class="payment-label" *ngIf="activeTab === 1">
            <input type="radio" name="paymentMethod" [(ngModel)]="selectedPaymentMethod" value="cod" />
            <h6 class="fw-bold ms-3"> COD</h6>
          </label>

          <label class="payment-label">
            <input type="radio" name="paymentMethod" [(ngModel)]="selectedPaymentMethod" value="stripe" />
            <h6 class="fw-bold ms-3"> Stripe</h6>
          </label>

          <label class="payment-label">
            <input type="radio" name="paymentMethod" [(ngModel)]="selectedPaymentMethod" value="paypal" />
            <h6 class="fw-bold ms-3"> Paypal</h6>
          </label>
        </div>

        
        <div class="text-check inputting-check">
          <div class="button-flex button-return">
          </div>
          <div class="button-flex">
            <button class="btn btn-primary" (click)="placeOrder()">Continue to Payment</button>
          </div>
        </div>

        <div class="foot-shipping">
          <hr>
          <p>All rights reserved LIQUOR BARON</p>
        </div>

      </div>
    </div>

    <div class="left-white" *ngIf="showPayment"><app-payment></app-payment></div>


    <div class="right-red">
      <div class="padding-equal-right sticky-element">
        <div class="right-starting">
          <div class="listing-right mb-1" *ngFor="let item of contextService?.cart()?.data">
            <div class="img-bottle">
              <img [src]="imgBaseUrl + item?.product?.product_image" alt="old">
              <p class="one">{{item?.quantity}}</p>
            </div>
            <p>{{item?.product?.name}}</p>
            <p>{{item?.product?.price * item?.quantity | currency}}</p>
          </div>
        </div>

        <div class="apply-total">

          <div class="p-total">
            <p>Subtotal :</p>
            <p>{{subTotal | currency:'CAD'}}</p>
          </div>

          <div class="p-total">
            <p>Tax :</p>
            <p *ngIf="total_tax !== 0">{{total_tax | currency:'CAD'}}</p>
            <p *ngIf="total_tax === 0">Select location to calculate tax</p>
          </div>

          <div class="p-total" *ngIf="activeTab !== 1">
            <p>Shipping Charges :</p>
            <p *ngIf="shippingCharges !== 0">{{shippingCharges | currency:'CAD'}}</p>
            <p *ngIf="shippingCharges === 0">Select location to calculate shipping charge</p>
          </div>


          <div class="p-total free-grand">
            <p><span class="grandone">Total</span></p>
            <p> <span class="cad">{{total | currency:'CAD'}}</span></p>
          </div>


        </div>
      </div>
    </div>

  </div>
</section>












<!-- 

<ng-template #addressModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Address</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="closeModal()"></button>
  </div>
  <div class="modal-body">
    <div class="col">
      <div class="title-with-forms">
        <div class="body-forms">
          <form [formGroup]="form" (ngSubmit)="onSubmit()" class="row g-3 general-info">
            <div class="col-md-6 type-form">
              <label class="form-label flex-">Full Name <span class="text-danger">*</span></label>
              <input type="text" class="form-control" formControlName="fullName" placeholder="Full Name">
              <div *ngIf="form.get('fullName')?.touched && form.get('fullName')?.invalid">
                <div class="text-danger p-small" *ngIf="form.get('fullName')?.errors?.['required']">Full name is
                  required.</div>
              </div>
            </div>

            <div class="col-md-6 type-form">
              <label class="form-label flex-">Mobile Number <span class="text-danger">*</span></label>
              <input type="text" class="form-control" formControlName="mobileNumber" placeholder="Mobile Number">
              <div *ngIf="form.get('mobileNumber')?.touched && form.get('mobileNumber')?.invalid">
                <div class="text-danger p-small" *ngIf="form.get('mobileNumber')?.errors?.['required']">Mobile number is
                  required.</div>
              </div>
            </div>


            <div class="col-md-6 type-form">
              <label class="form-label flex-">Alternate Phone Number</label>
              <input type="text" class="form-control" formControlName="altPhoneNumber"
                placeholder="Alternate Phone Number">
              <div *ngIf="form.get('altPhoneNumber')?.touched && form.get('altPhoneNumber')?.invalid">
                <div class="text-danger p-small" *ngIf="form.get('altPhoneNumber')?.errors?.['required']">Alternate
                  phone number is required.</div>
              </div>
            </div>

            <div class="col-md-6 type-form">
              <label class="form-label flex-">State <span class="text-danger">*</span></label>
              <select class="form-control" formControlName="state">
                <option value="" selected disabled class="ms-2">Select State</option>
                <option class="ms-2" *ngFor="let state of CanadianProvincesAndTerritories" [value]="state.id">{{
                  state.NAME }}
                </option>
              </select>
              <div *ngIf="form.get('state')?.touched && form.get('state')?.invalid">
                <div class="text-danger p-small" *ngIf="form.get('state')?.errors?.['required']">State is required.
                </div>
              </div>
            </div>



            <app-google-places-autocomplete [address]="form.controls['address'].value"
              (locationSelected)="handlePlaceSelection($event)"></app-google-places-autocomplete>
            <div *ngIf="form.get('address')?.touched && form.get('address')?.invalid">
              <div class="text-danger p-small" *ngIf="form.get('address')?.errors?.['required']">Address is required.
              </div>
            </div>

            <div class="col-md-6 type-form">
              <label class="form-label flex-">Locality <span class="text-danger">*</span></label>
              <input type="text" class="form-control" formControlName="locality" placeholder="Locality">
              <div *ngIf="form.get('locality')?.touched && form.get('locality')?.invalid">
                <div class="text-danger p-small" *ngIf="form.get('locality')?.errors?.['required']">Locality is
                  required.</div>
              </div>
            </div>

            <div class="col-md-6 type-form">
              <label class="form-label flex-">City/District/Town <span class="text-danger">*</span></label>
              <input type="text" class="form-control" formControlName="city" placeholder="City/District/Town">
              <div *ngIf="form.get('city')?.touched && form.get('city')?.invalid">
                <div class="text-danger p-small" *ngIf="form.get('city')?.errors?.['required']">City/District/Town is
                  required.</div>
              </div>
            </div>

            <div class="col-md-6 type-form">
              <label class="form-label flex-">Pin Code <span class="text-danger">*</span></label>
              <input type="text" class="form-control" formControlName="pinCode" placeholder="Pin Code">
              <div *ngIf="form.get('pinCode')?.touched && form.get('pinCode')?.invalid">
                <div class="text-danger p-small" *ngIf="form.get('pinCode')?.errors?.['required']">Pin code is required.
                </div>
              </div>
            </div>

            <div class="col-md-6 type-form">
              <label class="form-label flex-">Landmark <span class="text-danger">*</span></label>
              <input type="text" class="form-control" formControlName="landmark" placeholder="Landmark">
              <div *ngIf="form.get('landmark')?.touched && form.get('landmark')?.invalid">
                <div class="text-danger p-small" *ngIf="form.get('landmark')?.errors?.['required']">Landmark is
                  required.</div>
              </div>
            </div>

            <div class="col-md-12 modal-footer">
              <button type="button" class="btn btn-secondary" (click)="closeModal()">Close</button>
              <button type="submit" class="btn-maroon">{{ 'Add' }}</button>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>
</ng-template> -->