/* .loader-container {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100vw; 
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #faf1ea7e; 
    z-index: 9; 
}

.bouncing-dots {
    display: flex;
    justify-content: space-between;
    width: 60px;
}

.dot {
    width: 15px;
    height: 15px;
    background-color: #840029;
    border-radius: 50%;
    animation: bounce 1.5s infinite;
    border: 1px solid rgb(72, 72, 72);
}

.dot:nth-child(1) {
    animation-delay: 0s;
}

.dot:nth-child(2) {
    animation-delay: 0.3s;
}

.dot:nth-child(3) {
    animation-delay: 0.6s;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
} */



/* Full-screen translucent background */
.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5); /* Translucent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9; 
    background-color: #faf1ea7e; 
}

/* Loader styling */
.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    font-size: 40px;
    line-height: 1.5;
    font-family: system-ui, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: #0000;
    -webkit-text-stroke: 1px #840029;
    z-index: 9; 
    background:
        radial-gradient(1.13em at 50% 1.6em, #840029 99%, #0000 101%) calc(50% - 1.6em) 0/3.2em 100% text,
        radial-gradient(1.13em at 50% -0.8em, #0000 99%, #690122 101%) 50% .8em/3.2em 100% repeat-x text;
    animation: l9 2s linear infinite;
}

.loader:before {
    content: "Liquor Baron";
}

@keyframes l9 {
    to {
        background-position: calc(50% + 1.6em) 0, calc(50% + 3.2em) .8em;
    }
}
