<section class="main-section pb-3">
  <div class="container-baron container-fluid shop-class collection-section new-container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="title-text text-center">
          <h2>{{subcategoryTitle}}</h2>
        </div>
      </div>
    </div>
    <section class="pt-0 ps-6 pe-6 lg-ps-2 lg-pe-2 sm-ps-0 sm-pe-0">
      <div class="container-fluid">
        <div class="row">
          <!-- Sidebar (Filter) -->
          <div class="col-md-3 col-lg-2 d-none d-md-block" [formGroup]="form">
            <div class="d-flex justify-content-between border-bottom border-2 pb-3 mb-2">
              <h4>Filter</h4>
              <button type="button" class="btn btn-sm btn-light" (click)="fetchRandomProducts({ perPage: 10, page: 0 })">
                Clear all
              </button>
            </div>
            <h5>Category</h5>
            <div class="my-4 border-bottom border-2">
              <div class="mb-2" *ngFor="let item of categories">
                <!-- <input class="me-2 " type="radio" name="categoryFilter" [value]="item.id" [id]="item.id"
                  [checked]="selectedCategory === item.id" (change)="onCategoryChange(item.id, item.catname)"> -->
                  <input type="radio" (input)="onCategoryChange(item.id, item.catname)" formControlName="selectedCategory" [value]="item?.id" [id]="item.id" class="me-2 form-check-input" />
                <label class="form-check-label" [for]="item.id">{{ item?.catname | titlecase }}</label>
              </div>
            </div>
        
            <h5 class="mt-3">Brand</h5>
            <div class="my-4">
              <div class="form-check mb-2" *ngFor="let item of brands">
                <!-- <input class="me-2" type="radio" name="brandFilter" [value]="item.id" [id]="item.id"
                  [checked]="selectedBrand === item.id" (change)="onBrandChange(item.id, item.name)"> -->
                  <input type="radio" (input)="onBrandChange(item.id, item.name)" formControlName="selectedBrand" [value]="item?.id" [id]="item.id" class="me-2 form-check-input" />
                <label class="form-check-label" [for]="item.id">{{ item?.name | titlecase }}</label>
              </div>
            </div>
          </div>
        
          <!-- Responsive Offcanvas Sidebar for Small Screens -->
          <div class="d-block d-md-none">
            <button class="btn btn-light mb-3 float-end" type="button" data-bs-toggle="offcanvas" data-bs-target="#filterSidebar">
              Filters <i class="bi bi-filter mt-1"></i>
            </button>
            <div class="offcanvas offcanvas-start" tabindex="-1" id="filterSidebar">
              <div class="offcanvas-header">
                <h5 class="offcanvas-title">Filters</h5>
                <div><button type="button" class="btn btn-sm btn-light" (click)="fetchRandomProducts({ perPage: 10, page: 0 })">
                  Clear all
                </button>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
              </div></div>
              <div class="offcanvas-body">
                <h5>Category</h5>
                <div class="my-4 border-bottom border-2">
                  <div class="form-check mb-2" *ngFor="let item of categories">
                    <input class="form-check-input category-filter" type="radio" name="categoryFilter" [value]="item.id"
                      [checked]="selectedCategory === item.id" (click)="onCategoryChange(item.id, item.catname)">
                    <label class="form-check-label" for="cat1">{{ item?.catname }}</label>
                  </div>
                </div>
        
                <h5 class="mt-3">Brand</h5>
                <div class="my-4">
                  <div class="form-check mb-2" *ngFor="let item of brands">
                    <input class="form-check-input brand-filter" type="radio" name="brandFilter" [value]="item.id"
                      [checked]="selectedBrand === item.id" (click)="onBrandChange(item.id, item.name)">
                    <label class="form-check-label" for="brand1">{{ item?.name }}</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        
          <!-- Main Content -->
          <div class="col-md-9 col-lg-10">
            <div class="row flex-row-reverse">
              <!-- Products Section -->
              <div class="col-12 ps-5 md-ps-15px md-mb-60px nil-padding">
                <div class="row mb-5  row-product">
                  <div class="col-3 product-card-container" *ngFor="let product of products; let i=index">

                    <div class="product-card mx-2" [routerLink]="['/product', product?.id]">
                      <div class="product-tumb pt-4 pb-1">
                        <img [src]="imgBaseUrl + product?.product_image" class="img-fluid uniform-img" alt="product">
                        <!-- <div class="badge-wrapper"> -->
                        <div class="badge" [ngClass]="{
                        'bg-auccess': product.producttag === '3', 
                        'badge-yellow': product.producttag !== '3'
                      }">{{product.producttag === '3' ? 'New Item' : 'Limited Edition'}}</div>
                        <!-- </div> -->
                      </div>
                      <div class="product-details p-2">
                        <h4>{{product?.name}}</h4>
                        <p>{{product?.description}}</p>
                        <div class="product-bottom-details d-flex justify-content-between">
                          <div class="product-price">
                            <span [class.text-danger]="product?.discount"> ${{ product?.price }} </span>
                            <span *ngIf="product?.discount">
                              <del> ${{ product?.discount }}</del>
                            </span>
                          </div>
                          <div class="bag-container" *ngIf="!product?.cart_details">
                            <i class="bi bi-lg bi-bag-plus bag-icon" *ngIf="!product?.product?.cart_details"
                              (click)="addToCart($event, product?.id, i)">
                            </i>
                            <span class="hover-text">Add</span>
                          </div>
                          <div class="qty-container" *ngIf="product?.cart_details">
                            <button class="minus-round btn-light" type="button"
                              (click)="decrementProductCard(product?.cart_details?.id, product?.cart_details?.quantity, i, $event)"><i
                                class="bi bi-dash"></i></button>
                            <div class="quantity-round">{{product?.cart_details?.quantity}}</div>
                            <button class="plus-round btn-light" type="button"
                              (click)="incrementProductCard(product?.cart_details?.id, product?.cart_details?.quantity, i, $event)"><i
                                class="bi bi-plus-lg"></i></button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>

                <!-- Pagination Section -->
                <div class="d-flex justify-content-center mt-3" *ngIf="totalProducts > pageSize">
                  <ngb-pagination 
                    [collectionSize]="totalProducts" 
                    [(page)]="currentPage" 
                    [pageSize]="pageSize"
                    [maxSize]="pageSize" 
                    [boundaryLinks]="true" 
                    class="custom-pagination"
                    (pageChange)="onPageChange($event)">
                  </ngb-pagination>
                </div>
                
                </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</section>